

.glava {
    width: 90%;
    height: fit-content;
    align-items: center;
    display:inline-table;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    margin:0em 4em 0em;

    background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(136, 145, 192), rgba(40, 26, 167, 0.74));


}

p {
    font-family: Arial black;
    font-size: 14;
    color: #000000;
    border:4px;
    border-left: 1px black;
}


a:hover, a:visited, a:link, a:active
{
    color: #000000b9;
    text-decoration: none;
}


.nav-item {
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    float: left;
    flex-direction: row;
    height: 80px;
    margin-right: 0;
    margin-top: 10px;


    
}

.nav-item p{
    width: 50%;
    text-align: center;
    font-family: Arial black;
    font-size: 13;
    text-shadow: #000000;
    color: black;
    border-left: 2px solid black;
    
}

.nav-item img:hover{
    width: 113px;
    height: 113px;
}

.nav-item p:hover{
   
    font-size: 14;
    color:rgb(229, 236, 236)
}

.odjava {
   
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    float: right;
    margin-right: 0;
    margin-top: 20px;

}

.odjava p:hover{
   
    font-size: 15;
}


.odjava p{
    width: 100%;
    border-left: 6px solid #000000;
    text-align: center;
    font-family: Arial black;
    font-size: 14;
    letter-spacing: 1pt;
    
}